{% extends 'includes/main.html' %}
{% block content %}
<header class="hero">
    <div class="container">
        <h1 class="hero-title">{{ post.title }}</h1>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-md-10 mx-auto">
            <div >
                <div class="card-body">
                    <p class="card-text">{{ post.content|safe }}</p>
                    <p class="card-text"><small class="text-muted">{{ post.created }}</small></p>
                </div>
                <hr>
                <div class="row p-3">
                    <div class="col-md-4">
                        <div class="profile-section text-center pt-3 pt-lg-0">
							<img class="profile-image img-fluid mb-3 mx-auto d-block"
								src="{{ profile.profile_picture.url }}" alt="Profile Image">
						</div>
                    </div>
                    <div class="col-md-6">
                        <h3><a href="{% url 'about' %}">{{ profile.name }}</a></h3>
                        <div>
                            {{ profile.about_me|truncatechars:120 }}
                            <br>
                        </div>
                        <ul class="social-medias mt-3">
                            <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-github-alt"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}